body {
background-color: #9DD9F3;
<h1 style="border:2px 9DD9F3;">woord</h1>
color: white;
background-color: black;
opacity: 0,3;
text-align: center;
font-family: verdana;
  font-size: 20px;
}
